body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: #150436;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prof_img{
    width: 83%;
    height: 83%;
    object-fit: contain;
}
.search_bar{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}
.search{
    height: 100%;
    width: 39%;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #a8c3ff;
}
.search::placeholder{
    color: rgb(4, 19, 46);
}
.dropdown{
    height: 100%;
    width: 40%;
    border: none;
    background-color: #a8c3ff;
    color: rgb(4, 19, 46);
}
.submit{
    height: 100%;
    width: 19%;
    border: none;
    background-color: #8385ff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.logout_form{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout{
    height: 50%;
    width: 80%;
    border: none;
    background-color: #f5043c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    min-height: 10%;
    max-height: 83%;
    overflow-y: auto;
    justify-content: space-around;
}
.song_card{
    flex: 1 1 20%;
    height: 3rem;
    margin: 1rem 0.5rem 0.5rem 0;
    background-color: #651d6b;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.song_button{
    width: 100%;
    height: 100%;
    background-color: #651d6b;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.song_button:hover{
    background-color: #834a8c;
}
