body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: #150436;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile{
    width: 10%;
    height: 30%;
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile:hover{
    transition: 0.3s;
    background-color: #300683;
    height: 50%;
    border: none;
    border-radius: 3px;
}
.search_bar{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
    height: 30%;
    width: 100%;
}
.search{
    height: 100%;
    width: 39%;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    display: flex;
    align-items:flex-end;
    font-size: 1rem;
}
.search::placeholder{
    color: rgb(115, 160, 245);
    font-size: 1rem;
}
.search:focus{
    outline: none;
}
.dropdown{
    height: 100%;
    width: 40%;
    border: 1px solid #150436;
    border-bottom: 1px solid white;
    font-family: "Fredoka", sans-serif;
    background-color: transparent;
    text-align: center;
    color: white;
}
.dropdown option{
    background-color: #150436;
    color: white;
}

.dropdown:focus{
    outline: none;
}

.submit{
    height: 100%;
    width: 19%;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.submit:hover{
    align-self: center;
    transition: 0.3s;
    background-color: #300683;
    height: 200%;
    border: none;
    border-radius: 3px;
}
.logout_form{
    width: 7%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_form:hover{
    transition: 0.3s;
    height: 50%;
}
.logout{
    height: 100%;
    width: 80%;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.logout:hover{
    background-color: #c7002e;
    border: none;
    border-radius: 3px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    min-height: 10%;
    max-height: 83%;
    overflow-y: auto;
    justify-content: space-around;
}
.song_card{
    flex: 1 1 20%;
    height: 3rem;
    margin: 1rem 0.5rem 0.5rem 0;
    background-color: #651d6b;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.song_button{
    width: 100%;
    height: 100%;
    background-color: #651d6b;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.song_button:hover{
    background-color: #834a8c;
}
.write_button{
    width: 5%;
    height: 2rem;
    background-color: #4eb412;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
}
.write_button:hover{
    background-color: #5dd816;
}
.last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
}
@media only screen and (max-width: 997px){
    .search_bar{
        width: 60%;
    }
    .write_button{
        width: 15%;
    }
    .logout_form{
        width: 14%;
    }
}
@media only screen and (max-width: 482px){
    .profile{
        font-size: 1rem;
    }
    .search{
        font-size: 0.6rem;
    }
    .search::placeholder{
        font-size: 0.6rem;
    }
    .submit{
        font-size: 0.6rem;
    }
    .dropdown{
        font-size: 0.6rem;
    }
    .logout{
        font-size: 0.6rem;
    }
}
@media only screen and (min-height: 1000px){
    .song_card{
        height: 5rem;
    }
    .song_card{
        height: 5rem;
    }
    .song_button{
        font-size: 2rem;
    }
    .profile{
        font-size: 2.5rem;
    }
    .search{
        font-size: 1.5rem;
    }
    .search::placeholder{
        font-size: 1.5rem;
    }
    .submit{
        font-size: 1.5rem;
    }
    .dropdown{
        font-size: 1.5rem;
    }
    .logout{
        font-size: 1.5rem;
    }
    .write_button{
        height: 100%;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 1900px){
    .song_card{
        height: 5rem;
    }
    .song_button{
        font-size: 2rem;
    }
    .profile{
        font-size: 2.5rem;
    }
    .search{
        font-size: 1.5rem;
    }
    .search::placeholder{
        font-size: 1.5rem;
    }
    .submit{
        font-size: 1.5rem;
    }
    .dropdown{
        font-size: 1.5rem;
    }
    .logout{
        font-size: 1.5rem;
    }
    .write_button{
        height: 100%;
        font-size: 1.5rem;
    }
    
}