body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #150436;
}
.back{
    width: 5%;
    height: 2rem;
    display: flex;
    align-items: center;   
    justify-content: center;
    text-decoration: none;
    background-color: rgb(125, 2, 197);
    color: white;
    border-radius: 3px;
}
.back:hover{
    background-color: rgb(179, 3, 255);
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    width: 30%;;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.name{
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
    color: white;
    margin-bottom: 2rem;
}
.logout{
    width: 9rem;
    height: 3rem;
}
.logout_button{
    width: 100%;
    height: 100%;
    background-color: rgb(125, 2, 197);
    font-family: "Fredoka", sans-serif;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.logout_button:hover{
    background-color: rgb(179, 3, 255);
}
.delete_user{
    width: 9rem;
    height: 3rem;
}
.delete_button{
    width: 100%;
    height: 100%;;
    background-color: rgb(199, 15, 15);
    font-family: "Fredoka", sans-serif;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.delete_button:hover{
    background-color: rgb(255, 3, 3);
}

@media only screen and (max-width: 818px){
    .back{
        width: 15%;
    }
}
@media only screen and (min-width: 1910px){
    .name{
        font-size: 10rem;
    }
}
@media only screen and (min-width: 2100px){
    .logout{
        width: 40%;
        height: 100%;
    }
    .logout_button{
        font-size: 1.7rem;
    }
    .delete_user{
        width: 40%;
        height: 100%;
    }
    .delete_button{
        font-size: 1.7rem;
    }
    .buttons{
        height: 5%;
    }
}