body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.back{
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(125, 2, 197);
    color: white;
    border-radius: 2px;
}
.back:hover{
    background-color: rgb(179, 3, 255);
}
.sheet{
    margin-top: 3rem;
    width: 50%;
    min-height: 90%;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(14, 14, 14) 0px 0px 7px;;
}
.sheet_name{
    text-align: center;
    width: 100%;
    height: 2rem;
}
.chords{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.chord{
    width: 10%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit{
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(10, 121, 0);
    color: white;
    border-radius: 2px;
}
.edit_button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(10, 121, 0);
    color: white;
    border-radius: 2px;
    border: none;
}
.edit_button:hover{
    background-color: rgb(14, 169, 0);
    cursor: pointer;
}