body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    background-color: #330438;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* header */
.header{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.title{
    color: white;
    font-size: 3rem;
    font-family: "Parisienne", cursive;
}

/* registration */
.register{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 22%;
    height: 500px;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;;
}
.form{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.text{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-bottom: 1rem;
    padding: 1rem;
}
.input{
    background-color: #c88ccf;
    height: 3rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 3px;
}
.input::placeholder {
    color: white;
    padding-left: 1rem;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.button{
    color: white;
    border: none;
    border-radius: 3px;
    width: 48%;
    height: 3rem;
    background-color: #330438;
    text-decoration: none;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    background-color: #774e87;
    transition: 0.3s;
    height: 3.1rem;
}
@media only screen and (max-height: 702px){
    .text{
        font-size: 1.25rem;
    }
    .input{
        height: 2rem;
    }
    .button{
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 997px) {
    .register{
        width: 40%;
    }
}
@media only screen and (max-width: 520px) {
    .register{
        width: 80%;
    }
}