body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: #150436;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    width: 7%;
    height: 30%;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home:hover{
    transition: 0.3s;
    background-color: #300683;
    height: 50%;
    border: none;
    border-radius: 3px;
}
.name{
    height: 30%;
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.input{
    height: 100%;
    width: 70%;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    display: flex;
    align-items:flex-end;
    font-size: 1rem;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    color: rgb(115, 160, 245);
}
.name_enter{
    height: 100%;
    width: 23%;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.name_enter:hover{
    align-self: center;
    transition: 0.3s;
    background-color: #300683;
    height: 200%;
    border: none;
    border-radius: 3px;
}
#delete:hover{
    background-color: #c7002e;
}
.buttons{
    height: 30%;
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.back{
    height: 100%;
    width: 45%;
    border: none;
    padding-bottom: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.back:hover{
    align-self: center;
    transition: 0.3s;
    background-color: #300683;
    height: 200%;
    border: none;
    border-radius: 3px;
}
.main{
    width: 100%;
    height: 89%;
    display: flex;
}
.notes{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    
}
.main_notes{
    width: 80%;
    overflow-y: auto;
    margin-top: 1rem;
    min-height: 60vh;
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ececec;
    border-radius: 5px;
    box-shadow: rgb(14, 14, 14) 0px 0px 7px;
}
.sheet{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20%;
    align-content: flex-start;
}
.sheet_name{
    text-align: center;
    width: 100%;
    height: 2rem;
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
}
.note{
    width: 10%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.elements{
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to bottom, #150436, #280436);
}
.select{
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.pauses{
    width: 45%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-right: 0.5px solid white;
    cursor: pointer;
}
.pauses:hover{
    align-self: center;
    transition: 0.3s;
    background-color: white;
    color: #280436;
    border: none;
    border-radius: 3px 0 0 0;
}
.symbols{
    width: 45%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 0.5px solid white;
    cursor: pointer;
}
.symbols:hover{
    align-self: center;
    transition: 0.3s;
    background-color: white;
    color: #280436;
    border: none;
    border-radius: 0 3px 0 0;
}
.search{
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter{
    width: 100%;
    height: 55%;
    display: flex;
    align-content: end;
    justify-content: space-around;
}
.base_note{
    height: 100%;
    width: 60%;
    color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    display: flex;
    align-items:flex-end;
    font-size: 1rem;
}
.base_note::placeholder{
    color: rgb(115, 160, 245);
    font-size: 1rem;
}
.base_note:focus{
    outline: none;
}
.enter{
    height: 100%;
    width: 30%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-left: 1px solid white;
}
.enter:hover{
    align-self: center;
    transition: 0.3s;
    background-color: #300683;
    height: 120%;
    border: none;
    border-radius: 3px;
}
.data{
    height:87%;
    width: 100%;
    overflow-y: auto;
}
.chord{
    color: aliceblue;
    background-color: transparent;
    height: 5rem;
    width: 3.5rem;
    border: 1px solid aliceblue;
    border-radius: 5px;
    margin: 5px 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chord:hover{
    background-color: #42075a;
    cursor: pointer;
}
.chords{
    min-height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.chords::sc
.error{
    color: aliceblue;
    height: 5rem;
    width: 98%;
    border: 1px solid aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px;
}