body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: #150436;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_img{
    width: 83%;
    height: 83%;
    object-fit: contain;
    padding: 5px 0 5px 0;
}
.main{
    width: 100%;
    height: 89%;
    display: flex;
}
.notes{
    height: 100%;
    width: 70%;
}
.elements{
    height: 100%;
    width: 30%;
    background-image: linear-gradient(to bottom, #280436, #150436);
}
.select{
    height: 6%;
    width: 100%;
}
.search{
    height: 6%;
    width: 100%;
}