body{
    width: 100vw;
    height: 100vh; 
    margin: 0;
    font-family: "Fredoka", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: #150436;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_img{
    width: 83%;
    height: 83%;
    object-fit: contain;
    padding: 5px 0 5px 0;
}
.main{
    width: 100%;
    height: 89%;
    display: flex;
}
.notes{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    
}
.main_notes{
    width: 80%;
    overflow-y: auto;
    margin-top: 1rem;
    min-height: 60vh;
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #ececec;
    border-radius: 5px;
    box-shadow: rgb(14, 14, 14) 0px 0px 7px;
}
.sheet{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20%;
    align-content: flex-start;
}
.sheet_name{
    text-align: center;
    width: 100%;
    height: 2rem;
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
}
.note{
    width: 10%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.elements{
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to bottom, #280436, #150436);
}
.select{
    height: 6%;
    width: 100%;
}
.search{
    height: 6%;
    width: 100%;
}
.data{
    height:88%;
    width: 100%;
    overflow-y: auto;
}
.chord{
    color: aliceblue;
    background-color: transparent;
    height: 5rem;
    width: 3.5rem;
    border: 1px solid aliceblue;
    border-radius: 5px;
    margin: 5px 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chord:hover{
    background-color: #42075a;
    cursor: pointer;
}
.chords{
    min-height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.error{
    color: aliceblue;
    height: 5rem;
    width: 98%;
    border: 1px solid aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px;
}